.Circleloader {
    --d: 22px;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #4e5a61;
    box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 4px,
        calc(0*var(--d)) calc(1*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 4px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 4px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 4px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}